@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply overflow-x-hidden bg-gray-100;
    /* blobs */
    background-position: center 0px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1920 1080' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cg transform='translate(1627 749)'%3E%3Cpath d='M133.8 -41.1C150.8 8.9 126.4 74.6 82.3 104.6C38.3 134.5 -25.5 128.7 -67.5 97.1C-109.5 65.6 -129.8 8.4 -115 -38.6C-100.1 -85.7 -50 -122.5 4.2 -123.9C58.4 -125.2 116.8 -91.1 133.8 -41.1Z' fill='%23FDE047'%3E%3C/path%3E%3C/g%3E%3Cg transform='translate(548 376)'%3E%3Cpath d='M108.1 -38.5C121 4.5 99.2 55.5 63.2 79.9C27.2 104.4 -22.8 102.4 -56.6 77.8C-90.3 53.3 -107.7 6.3 -95.6 -35.7C-83.4 -77.7 -41.7 -114.7 3 -115.6C47.6 -116.6 95.3 -81.5 108.1 -38.5Z' fill='%23FDE047'%3E%3C/path%3E%3C/g%3E%3Cg transform='translate(1212 545)'%3E%3Cpath d='M64.9 -21.4C72.7 2.8 59.7 33.5 37.4 49.3C15 65 -16.6 65.7 -40.6 49.7C-64.6 33.7 -80.9 1.1 -72.9 -23.6C-64.8 -48.2 -32.4 -64.8 -1.9 -64.2C28.6 -63.6 57.2 -45.7 64.9 -21.4Z' fill='%23FDE047'%3E%3C/path%3E%3C/g%3E%3Cg transform='translate(207 643)'%3E%3Cpath d='M74.2 -24.5C85.5 10.9 76.9 52.5 49.1 74.3C21.2 96.1 -25.8 98.2 -52.6 77.5C-79.5 56.8 -86.1 13.4 -73.9 -23.1C-61.8 -59.6 -30.9 -89 0.2 -89.1C31.4 -89.1 62.8 -59.9 74.2 -24.5Z' fill='%23FDE047'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }

  article:hover > div > img,
  a:focus > article > div > img {
    /* post featured image */
    @apply scale-110;
  }

  article p {
    @apply mb-2;
  }

  footer::before {
    /* wave */
    @apply absolute inset-x-0 -z-10 bg-cover bg-bottom bg-no-repeat;
    content: '';
    height: 500px;
    top: -350px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1000 300' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M0 149L15.2 152.8C30.3 156.7 60.7 164.3 91 174.3C121.3 184.3 151.7 196.7 182 202.7C212.3 208.7 242.7 208.3 273 197.5C303.3 186.7 333.7 165.3 364 163.5C394.3 161.7 424.7 179.3 454.8 181.3C485 183.3 515 169.7 545.2 172.2C575.3 174.7 605.7 193.3 636 200.2C666.3 207 696.7 202 727 201.3C757.3 200.7 787.7 204.3 818 196.7C848.3 189 878.7 170 909 166.2C939.3 162.3 969.7 173.7 984.8 179.3L1000 185L1000 301L984.8 301C969.7 301 939.3 301 909 301C878.7 301 848.3 301 818 301C787.7 301 757.3 301 727 301C696.7 301 666.3 301 636 301C605.7 301 575.3 301 545.2 301C515 301 485 301 454.8 301C424.7 301 394.3 301 364 301C333.7 301 303.3 301 273 301C242.7 301 212.3 301 182 301C151.7 301 121.3 301 91 301C60.7 301 30.3 301 15.2 301L0 301Z' fill='%23e5e7eb' stroke-linecap='round' stroke-linejoin='miter'%3E%3C/path%3E%3C/svg%3E");
  }

  @supports not (backdrop-filter: blur()) {
    /* firefox */
    header {
      @apply bg-black bg-opacity-50;
    }
  }
}

@layer utilities {
  .text-shadow {
    @apply drop-shadow-[0px_2px_2px_rgba(0,0,0,0.8)];
  }
}

@layer components {
  #events {
    /* events scroll bar firefox */
    scrollbar-color: transparent transparent;
    &:hover {
      scrollbar-color: unset;
    }

    /* events scroll bar chrome */
    &::-webkit-scrollbar {
      @apply w-2 bg-transparent;
    }
    &:hover::-webkit-scrollbar-thumb {
      @apply rounded-md bg-gray-300;
      &:hover {
        @apply bg-gray-400;
      }
    }
  }
}
